@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.cyberBtn {
  color: white;
  text-decoration: none;
  font-size: 24;
  font-weight: 600;
  padding: 0.8rem 2rem;
  margin: 0;
  height: 54px;
  width: auto;
  background: rgb(22, 24, 39);
  background: linear-gradient(0deg, rgb(22, 24, 39) 0%, rgb(70, 9, 72) 100%);
  border: 3px solid #FA38E4;
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
}
.cyberBtn:hover {
  border: 3px solid white;
  background: #161827;
  color: white;
}

.socialBtn {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  transition: all 0.25s ease-in-out;
}
.socialBtn .socialImg {
  display: block;
  width: 60px;
}

.socialBtnHover:hover {
  background: #161827;
  color: white;
}

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: black;
  background-color: #161827;
}

.bgBoxes {
  background: rgb(22, 24, 39);
  background: linear-gradient(0deg, rgb(22, 24, 39) 0%, rgb(70, 9, 72) 100%);
  width: 650px;
}
@media (min-width: 992px) {
  .bgBoxes {
    border: 3px solid #FA38E4;
    border-radius: 8px;
  }
}

.borderTop {
  border-top: 3px solid #FA38E4;
}

.h2title {
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 3rem;
}

.h3title {
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-align: center;
}
@media (min-width: 992px) {
  .h3title {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}

.h4title {
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-align: center;
}
@media (min-width: 992px) {
  .h4title {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}

.h5title {
  font-size: 22px;
  font-weight: 700;
  color: white;
  text-align: center;
}
@media (min-width: 992px) {
  .h5title {
    padding-top: 3rem;
    padding-bottom: 1rem;
  }
}

.cyberBtn {
  color: white;
  text-decoration: none;
  font-size: 24;
  font-weight: 600;
  padding: 0.8rem 2rem;
  margin: 0;
  height: 54px;
  width: auto;
  background: rgb(22, 24, 39);
  background: linear-gradient(0deg, rgb(22, 24, 39) 0%, rgb(70, 9, 72) 100%);
  border: 3px solid #FA38E4;
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
}
.cyberBtn:hover {
  border: 3px solid white;
  background: #161827;
  color: white;
}

.socialBtn {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  transition: all 0.25s ease-in-out;
}
.socialBtn .socialImg {
  display: block;
  width: 60px;
}

.socialBtnHover:hover {
  background: #161827;
  color: white;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 130px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
/* The Close Button */
.close {
  position: absolute;
  top: 75px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
.hidden {
  opacity: 0;
}

.console-container {
  color: white;
  font-size: 22px;
  font-weight: 700;
}
@media (min-width: 768px) {
  .console-container {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  .console-container {
    font-size: 38px;
  }
}
@media (min-width: 1200px) {
  .console-container {
    font-size: 38px;
  }
}

.console-underscore {
  display: inline-block;
  position: relative;
  left: 10px;
}

header .topbar .container {
  background-color: #161827;
  color: white;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  max-width: 90%;
}
header .topmenuMobile {
  background: rgb(134, 5, 143);
  background: linear-gradient(90deg, rgb(134, 5, 143) 0%, rgb(53, 14, 60) 35%, rgb(22, 24, 39) 100%);
  font-size: 2rem;
}
header .topmenuMobile .container {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  max-width: 90%;
}
@media (min-width: 992px) {
  header .topmenuMobile .container {
    display: none;
  }
}
header .topmenuMobile .container a {
  text-decoration: none;
}
header .topmenuMobile .container h1 {
  color: white;
  padding: 5px 0;
  margin: 0;
  margin-left: -1rem;
}
header .topmenuMobile .container ul {
  display: flex;
  /* Show menu items when checkbox is checked */
}
header .topmenuMobile .container ul .moveMenu {
  display: flex;
  justify-content: end;
}
header .topmenuMobile .container ul .moveMenu .mobile-menu {
  color: #fff;
  max-width: 55%;
  position: fixed;
  z-index: 1000;
  top: 21px; /* Make the menu stick to the top */
}
@media (min-width: 768px) {
  header .topmenuMobile .container ul .moveMenu .mobile-menu {
    top: 37px;
  }
}
header .topmenuMobile .container ul .moveMenu .mobile-menu input {
  display: none;
}
header .topmenuMobile .container ul .moveMenu .mobile-menu label {
  display: flex;
  justify-content: end;
}
header .topmenuMobile .container ul .moveMenu .mobile-menu label .menu-icon {
  cursor: pointer;
}
header .topmenuMobile .container ul .moveMenu .mobile-menu .menu-items {
  /* Hide the menu items by default */
  display: none;
  list-style-type: none;
  padding-right: 2rem;
  background: rgb(22, 24, 39);
  background: linear-gradient(0deg, rgb(22, 24, 39) 0%, rgb(70, 9, 72) 100%);
  border: 3px solid #FA38E4;
  border-radius: 8px;
}
header .topmenuMobile .container ul .moveMenu .mobile-menu .menu-items li {
  display: block;
  padding: 10px 0;
}
header .topmenuMobile .container ul .moveMenu .mobile-menu .menu-items li a {
  color: #fff;
  text-decoration: none;
}
header .topmenuMobile .container ul .moveMenu .mobile-menu .menu-items li a:hover {
  text-decoration: underline;
}
header .topmenuMobile .container ul #menu-toggle:checked + .menu-icon + .menu-items {
  display: block;
}

header .topbar .container {
  background-color: #161827;
  color: white;
  font-size: 8px;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}
@media (min-width: 768px) {
  header .topbar .container {
    font-size: 16px;
  }
}
header .topmenuDesktop {
  background: rgb(134, 5, 143);
  background: linear-gradient(90deg, rgb(134, 5, 143) 0%, rgb(53, 14, 60) 35%, rgb(22, 24, 39) 100%);
  font-size: 2rem;
}
header .topmenuDesktop .container {
  display: none;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
}
@media (min-width: 992px) {
  header .topmenuDesktop .container {
    display: flex;
  }
}
header .topmenuDesktop .container a {
  text-decoration: none;
}
header .topmenuDesktop .container h1 {
  color: white;
  text-decoration: none;
}
header .topmenuDesktop .container ul {
  display: none;
}
header .topmenuDesktop .container ul .line {
  color: white;
}
header .topmenuDesktop .container ul a {
  text-decoration: none;
  color: white;
  padding: 0 2rem;
}
@media (min-width: 992px) {
  header .topmenuDesktop .container ul {
    display: flex;
  }
}

.toTheTop {
  font-size: 2rem;
}
.toTheTop .container ul {
  display: flex;
}
.toTheTop .container ul .moveMenu {
  display: flex;
  justify-content: end;
}
.toTheTop .container ul .moveMenu .mobile-menu {
  color: white;
  text-decoration: none;
  width: 20%;
  position: fixed;
  z-index: 1000;
  bottom: 30px; /* Make the menu stick to the top */
  right: 30px;
}
.toTheTop .container ul .moveMenu .mobile-menu label {
  display: flex;
  justify-content: end;
}
.toTheTop .container ul .moveMenu .mobile-menu label a {
  color: white;
}
.toTheTop .container ul .moveMenu .mobile-menu label .menu-icon {
  cursor: pointer;
}

.heroMobile {
  margin-top: -16px;
}
@media (min-width: 1200px) {
  .heroMobile {
    display: none;
  }
}
.heroMobile .herocontainer {
  margin-left: auto;
  margin-right: auto;
}
.heroMobile .herocontainer img {
  max-width: 100%;
}
.heroMobile .herocontainer .container .bottomleft {
  bottom: 3rem;
  font-size: 18px;
  padding: 2.5rem;
  margin-top: 1rem;
  border: 3px solid #FA38E4;
  border-radius: 8px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .heroMobile .herocontainer .container .bottomleft {
    max-width: 80%;
  }
}
.heroMobile .herocontainer .container .bottomleft .text .hello {
  color: white;
  font-size: 18px;
}
.heroMobile .herocontainer .container .bottomleft .text .textAnimation {
  color: #FA38E4;
  font-size: 20px;
  font-weight: 700;
  padding-right: 4rem;
}
.heroMobile .herocontainer .container .bottomleft .text p {
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  font-weight: 400;
  font-size: 16px;
}
.heroMobile .herocontainer .container .bottomleft .heroButtons .socialBtn .socialImg {
  margin-top: 3rem;
  margin-right: 1rem;
}

.heroDesktop {
  display: none;
}
@media (min-width: 1200px) {
  .heroDesktop {
    display: contents;
  }
}
.heroDesktop .herocontainer {
  position: relative;
}
.heroDesktop img {
  background-size: cover;
}
.heroDesktop .bottomleft {
  position: absolute;
  bottom: 3rem;
  font-size: 1.2rem;
  padding: 2.5rem;
}
.heroDesktop .bottomleft .hello {
  color: white;
  padding-top: 2rem;
  font-size: 32px;
}
.heroDesktop .bottomleft .textAnimation {
  color: #FA38E4;
  font-size: 48px;
  font-weight: 700;
  padding-right: 4rem;
}
.heroDesktop .bottomleft p {
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-weight: 400;
}
.heroDesktop .bottomleft .heroButtons {
  display: flex;
  justify-content: space-between;
}
.heroDesktop .bottomleft .heroButtons .socialImg {
  margin-left: 2rem;
}
.heroDesktop img {
  width: 100%;
  height: auto;
  opacity: 1;
}

.aitext {
  display: none;
  text-align: right;
  color: white;
  background-color: black;
  -webkit-text-decoration: underline #FA38E4 3px;
          text-decoration: underline #FA38E4 3px;
  font-size: 1.3rem;
  padding-right: 12rem;
  margin-top: -3rem;
  border-bottom: 3px solid #FA38E4;
}
@media (min-width: 1200px) {
  .aitext {
    display: block;
    text-align: right;
    color: white;
    background-color: black;
    -webkit-text-decoration: underline #FA38E4 3px;
            text-decoration: underline #FA38E4 3px;
    font-size: 1.3rem;
    padding-right: 12rem;
    margin-top: -3rem;
    border-bottom: 3px solid #FA38E4;
  }
}

.center {
  text-align: center;
}

.nav-link.active {
  color: #FA38E4; /* Change the color to red */
}

.navtabDesign {
  font-size: 20px;
  color: white;
  padding-top: 0.5rem;
}
.navtabDesign p {
  padding: 0.5rem 0.5rem;
  font-size: 20px;
}
.navtabDesign li {
  color: white;
}
.navtabDesign li a {
  color: white;
}
.navtabDesign li a:hover {
  color: #FA38E4;
  text-decoration: underline;
}

.gallery {
  background-color: #161827;
  padding-bottom: 4rem;
}
.gallery .gallerymenu {
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  margin-bottom: 3rem;
}
.gallery .gallerymenu p {
  padding: 0 0.5rem;
}
.gallery .galleryCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
@media (min-width: 768px) {
  .gallery .galleryCard {
    gap: 50px;
  }
}
@media (min-width: 992px) {
  .gallery .galleryCard {
    gap: 50px;
  }
}
.gallery .galleryCard *,
.gallery .galleryCard *:before,
.gallery .galleryCard *:after {
  box-sizing: border-box;
  outline: none;
}
.gallery .galleryCard html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-smooth: auto;
  font-weight: 300;
  line-height: 1.5;
  color: #444;
}
.gallery .galleryCard body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.gallery .galleryCard figure {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  min-width: 300px;
  height: 200px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
.gallery .galleryCard figure:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.gallery .galleryCard figure:hover h1 {
  opacity: 0;
  transform: scale(0.7);
}
.gallery .galleryCard figure:hover img {
  transform: scale(1.25);
}
.gallery .galleryCard figure:hover figcaption {
  bottom: 0;
}
.gallery .galleryCard figure h1 {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 22px;
  font-weight: 100;
  line-height: 1;
  opacity: 1;
  transform: scale(1);
  transition: 0.25s ease;
  z-index: 1;
  background-color: black;
  padding: 0.5rem 1rem;
}
.gallery .galleryCard figure img {
  width: auto;
  height: 100%;
  transition: 0.25s;
}
.gallery .galleryCard figure figcaption {
  position: absolute;
  bottom: -140%;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: white;
  line-height: 1;
  transition: 0.25s;
}
.gallery .galleryCard figure figcaption h3 {
  font-size: 24px;
  margin: 0 0 20px;
  padding: 0;
}
.gallery .galleryCard figure figcaption p {
  font-size: 14px;
  line-height: 1.75;
  text-align: left;
}
.gallery .galleryCard figure figcaption a {
  text-decoration: none;
}
.gallery .galleryCard figure figcaption button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0;
  padding: 10px 30px;
  background-color: #FA38E4;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.gallery .galleryCard figure figcaption button i {
  color: black;
  padding-left: 10px;
  font-size: 20px;
}
.gallery .galleryCard figure figcaption button:hover {
  background-color: white;
  color: black;
  border: none;
}

.about {
  background: rgb(22, 24, 39);
  background: linear-gradient(0deg, rgb(22, 24, 39) 26%, rgb(110, 20, 181) 100%);
  color: white;
}
@media (min-width: 992px) {
  .about .arrange {
    display: flex;
    margin-top: 2rem;
    gap: 6rem;
  }
}
.about .arrange .left {
  max-width: auto;
}
@media (min-width: 992px) {
  .about .arrange .left {
    max-width: 45%;
  }
}
.about .arrange .left .helloBox {
  padding: 0 2.5rem;
  padding-bottom: 3rem;
}
@media (min-width: 992px) {
  .about .arrange .left .helloBox {
    padding: 0 2.5rem 2.5rem 2.5rem;
    margin-bottom: 3rem;
    background: rgb(22, 24, 39);
    background: linear-gradient(0deg, rgb(22, 24, 39) 0%, rgb(70, 9, 72) 100%);
    border: 3px solid #FA38E4;
    border-radius: 8px;
  }
}
.about .arrange .left .missionBox {
  padding: 0 2.5rem 0.5rem 2.5rem;
  padding-bottom: 3rem;
}
@media (min-width: 992px) {
  .about .arrange .left .missionBox {
    margin-bottom: 3rem;
    padding-bottom: 2.5rem;
    padding: 0 2.5rem 2.5rem 2.5rem;
    background: rgb(22, 24, 39);
    background: linear-gradient(0deg, rgb(22, 24, 39) 0%, rgb(70, 9, 72) 100%);
    border: 3px solid #FA38E4;
    border-radius: 8px;
  }
}
.about .arrange .right {
  max-width: auto;
  margin-bottom: 4rem;
}
.about .arrange .right .skillsBox {
  padding-bottom: 3rem;
  text-align: left;
}
@media (min-width: 992px) {
  .about .arrange .right .skillsBox {
    background: rgb(22, 24, 39);
    background: linear-gradient(0deg, rgb(22, 24, 39) 0%, rgb(70, 9, 72) 100%);
    border: 3px solid #FA38E4;
    border-radius: 8px;
  }
}
.about .arrange .right .skillsBox .move {
  text-align: center;
  padding: 0 2.5rem 0.5rem 2.5rem;
}
@media (min-width: 992px) {
  .about .arrange .right .skillsBox .move {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}
.about .arrange .right .skillsBox .icon {
  padding: 0.5rem;
}
.about .downloadsBox {
  padding-bottom: 3rem;
}
@media (min-width: 992px) {
  .about .downloadsBox {
    margin-top: 3rem;
    background: rgb(22, 24, 39);
    background: linear-gradient(0deg, rgb(22, 24, 39) 0%, rgb(70, 9, 72) 100%);
    border: 3px solid #FA38E4;
    border-radius: 8px;
  }
}
.about .downloadsBox .moveDownloads {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.about .downloadsBox .moveDownloads .btnMove {
  margin: 0.5rem;
}

.contact {
  color: white;
  margin-bottom: 3rem;
  padding-top: 0;
  background: rgb(22, 24, 39);
  background: linear-gradient(0deg, rgb(22, 24, 39) 0%, rgb(70, 9, 72) 100%);
}
.contact .container {
  max-width: 90%;
  padding: 1rem 3rem 0 3rem;
}
.contact .container .formwidth {
  max-width: 600px;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.contact .container .moveBtn {
  text-align: center;
  margin-top: 3rem;
}
.contact .container .moveBtn a {
  margin-top: 2rem;
  font-size: 18px;
}

footer {
  margin-top: 5rem;
  background: rgb(22, 24, 39);
  background: linear-gradient(0deg, rgb(22, 24, 39) 0%, rgb(70, 9, 72) 100%);
  color: white;
  font-size: 1rem;
}
footer .contact {
  display: block;
  color: white;
  margin-bottom: 3rem;
  padding-top: 3rem;
}
@media (min-width: 768px) {
  footer .contact {
    display: flex;
    justify-content: space-between;
  }
}
footer .contact .heroButtons {
  margin-bottom: 2rem;
  padding-left: 20px;
}
footer .contact .contactinfo {
  text-align: end;
  padding-right: 60px;
}
@media (min-width: 768px) {
  footer .contact .contactinfo {
    padding-right: 30px;
  }
}
footer .contact .container {
  max-width: 50%;
  padding: 1rem 3rem 3rem 3rem;
}
footer .contact .container .moveBtn {
  text-align: center;
}
footer .contact .container .moveBtn a {
  margin-top: 2rem;
  font-size: 18px;
}