// Colors
$pinkPunk: #FA38E4;

// Gradients
$BG-TopMenu: linear-gradient(90deg, rgba(134,5,143,1) 0%, rgba(53,14,60,1) 35%, rgba(22,24,39,1) 100%);;

// Background
$BGDark: #161827;



// background: rgb(134,5,143);
// background: linear-gradient(90deg, rgba(134,5,143,1) 0%, rgba(53,14,60,1) 35%, rgba(22,24,39,1) 100%);