.contact {
    color: white;
    margin-bottom: 3rem;
    padding-top: 0;
    background: rgb(22,24,39);
    background: linear-gradient(0deg, rgba(22,24,39,1) 0%, rgba(70,9,72,1) 100%);
    

    .container {
        max-width: 90%;
        padding: 1rem 3rem 0 3rem;
        
        .formwidth {
            max-width: 600px;
            padding-top: 3rem;
            margin-left: auto;
            margin-right: auto;
        }

        .moveBtn {
            text-align: center;
            margin-top: 3rem;

            a {
                margin-top: 2rem;
                font-size: 18px;
             
            }
        }
     
    }
}

// .thankyou {
//     color: white;
    
//     .container {
//         text-align: center;
//         padding: 3rem;

//         h2 {
//             margin-top: 5rem;
//             margin-bottom: 3rem;
//         }

//         button {
//           margin-bottom: 0rem;
//         }
//     }
// }