.center{
	text-align: center;
}

.nav-link.active {
	color: $pinkPunk; /* Change the color to red */
}

.navtabDesign {
	font-size: 20px;
    color: white;

	padding-top: 0.5rem;
	// margin-bottom: 3rem;

	p {
		padding: 0.5rem 0.5rem;
		font-size: 20px;
	}

	li {
		color: white;

		a {
			color: white;

			&:hover {
				color: #FF7373;
				text-decoration: underline;
			}
		}
	}
 
}

.gallery {
    background-color: $BGDark;
	padding-bottom: 4rem;
    
    .gallerymenu {
        color: white;
        font-size: 20px;
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
        margin-bottom: 3rem;
    
        p {
            padding: 0 0.5rem;
            
        }
    }

    .galleryCard {
        // margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        $base-duration: 500ms;

		@include md {
			gap: 50px;
		}

		@include lg {
			gap: 50px;
		}

// Colors
// $color-1: #2c3e50;
// $color-2: #1abc9c;
// $color-3: #2ecc71;

// Breakpoints
// $sm: new-breakpoint(min-width 320px);
// $med: new-breakpoint(min-width 768px);
// $lg: new-breakpoint(min-width 1024px);

*,
*:before,
*:after {
	box-sizing: border-box;
	outline: none;
}

html {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-smooth: auto;
	font-weight: 300;
	line-height: 1.5;
	color: #444;
}

body {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

figure {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 300px;
	min-width: 300px;
	height: 200px;
	border-radius: 8px;
	box-shadow: 
		0 1px 3px rgba(0,0,0,0.12), 
		0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	&:hover {
		box-shadow: 
			0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
		h1 {
			opacity: 0;
			transform: scale(0.7);
		}
		img {
			transform: scale(1.25);
		}
		figcaption {
			bottom: 0;
		}
	}
	h1 {
		position: absolute;
		top: 0px;
		left: 0px;
		margin: 0;
		padding: 0;
		color: white;
		font-size: 22px;
		font-weight: 100;
		line-height: 1;
		opacity: 1;
		transform: scale(1);
		transition: 0.25s ease;
		z-index: 999;
		background-color: black;
		padding: 0.5rem 1rem;
	}
	img {
		height: 100%;
		width: auto;
		
		transition: 0.25s;
	}
	figcaption {
		position: absolute;
		bottom: -140%;
		left: 0;
		width: 100%;
		margin: 0;
		padding: 30px;
		background-color: rgba(black,0.85);
		box-shadow: 0 0 20px rgba(black,0.4);
		color: white;
		line-height: 1;
		transition: 0.25s;
		h3 {
			font-size: 24px;
			margin: 0 0 20px;
			padding: 0;
		}
		p {
			font-size: 14px;
			line-height: 1.75;
		}
		button {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 10px 0 0;
			padding: 10px 30px;
			background-color: #FF7373;
			border: none;
			border-radius: 5px;
			color: white;
			font-size: 14px;
			cursor: pointer;
			transition: all 0.4s ease-in-out;

			i {
				color: black;
				padding-left: 10px;
				font-size: 20px;
			}
		}

		button:hover {
			background-color: white;
			color: black;
			border: none;
		}
	}
}
    }
}